/* _content/Clea_Web/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-nywug57uy8] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-nywug57uy8] {
  color: #0077cc;
}

.btn-primary[b-nywug57uy8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-nywug57uy8], .nav-pills .show > .nav-link[b-nywug57uy8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-nywug57uy8] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-nywug57uy8] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-nywug57uy8] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-nywug57uy8] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-nywug57uy8] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Clea_Web/Views/Shared/_LayoutBackEnd.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-jlhas8bwzk] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-jlhas8bwzk] {
  color: #0077cc;
}

.btn-primary[b-jlhas8bwzk] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-jlhas8bwzk], .nav-pills .show > .nav-link[b-jlhas8bwzk] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-jlhas8bwzk] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-jlhas8bwzk] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-jlhas8bwzk] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-jlhas8bwzk] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-jlhas8bwzk] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Clea_Web/Views/Shared/_LayoutBackEndFooter.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-kond2mnnpg] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-kond2mnnpg] {
  color: #0077cc;
}

.btn-primary[b-kond2mnnpg] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-kond2mnnpg], .nav-pills .show > .nav-link[b-kond2mnnpg] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-kond2mnnpg] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-kond2mnnpg] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-kond2mnnpg] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-kond2mnnpg] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-kond2mnnpg] {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left:100px;
    white-space: nowrap;
    line-height: 60px;
    padding: 0;
    border-top: none;
}
/* _content/Clea_Web/Views/Shared/_LayoutBackEndLogin.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-6j7jh3xa0u] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-6j7jh3xa0u] {
  color: #0077cc;
}

.btn-primary[b-6j7jh3xa0u] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-6j7jh3xa0u], .nav-pills .show > .nav-link[b-6j7jh3xa0u] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-6j7jh3xa0u] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-6j7jh3xa0u] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-6j7jh3xa0u] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-6j7jh3xa0u] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-6j7jh3xa0u] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Clea_Web/Views/Shared/_LayoutBackEndMenu.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-xa1k6hvylb] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-xa1k6hvylb] {
  color: #0077cc;
}

.btn-primary[b-xa1k6hvylb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-xa1k6hvylb], .nav-pills .show > .nav-link[b-xa1k6hvylb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-xa1k6hvylb] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-xa1k6hvylb] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-xa1k6hvylb] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-xa1k6hvylb] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-xa1k6hvylb] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
