<!--後台footer-->
<!-- partial:partials/_footer.html -->
<footer class="footer">
    <div class="w-100 d-flex justify-content-center align-items-center">
       <!-- <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2023.  YuYao <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>-->
            <span>Copyright © 2023 中華民國勞工教育協進會。 All Rights Reserved.</span>
    </div>
</footer>