<!--分頁底板-->
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Core.Fluent;
@using X.PagedList.Web.Common;
@model IPagedList
@{
}
<div>
    <div>
        <ul>
            
            @Html.PagedListPager(Model, page => Url.Action("", new {  }),
            new PagedListRenderOptions
            {
            DisplayItemSliceAndTotal = true,
            DisplayLinkToIndividualPages = false,
            DisplayPageCountAndCurrentLocation = true,

            DisplayLinkToFirstPage = PagedListDisplayMode.Never,
            DisplayLinkToLastPage = PagedListDisplayMode.Never,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
            DisplayLinkToNextPage = PagedListDisplayMode.Never,
            ItemSliceAndTotalFormat = "顯示第：{0}~{1}筆 / 共 {2} 筆　 ",
            PageCountAndCurrentLocationFormat = "第 {0} 頁，共 {1} 頁　 ",
            })

            @Html.PagedListPager(Model, page => Url.Action("", new {  }),
            new PagedListRenderOptions
            {
            LinkToFirstPageFormat = "第一頁",
            LinkToLastPageFormat = "末頁",
            LinkToNextPageFormat = "下一頁",
            LinkToPreviousPageFormat = "上一頁",
            DisplayLinkToIndividualPages = true,
            MaximumPageNumbersToDisplay = 3
            })
        </ul>
    </div>
</div>