<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!-- <add name="CELA_WEBDBEntities" connectionString="metadata=res://*/Clea_Trans.csdl|res://*/Clea_Trans.ssdl|res://*/Clea_Trans.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=CELA_WEBDB;user id=sa;password=sa123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	 <add name="CELA_WEBDBEntities" connectionString="metadata=res://*/Clea_Trans.csdl|res://*/Clea_Trans.ssdl|res://*/Clea_Trans.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=CELA_WEBDB;user id=admin;password=!qaz2wsX3edc;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>